@import '~dialog-polyfill/dialog-polyfill.css';

.Settings-dialog {
  background: var(--color-midnight);
  border-radius: 1rem;
  border: 0.1rem solid var(--color-cloudy);
  box-shadow: 0 0 0.3rem #ffbb26, 0 0 0.2rem #ffbb26 inset;
  color: inherit;
  margin: 1rem;
}
